<!DOCTYPE html>
<html lang="zh-CN">
    <!-- Head Tag -->
    <%- partial('_partial/head') %>

    <!-- Page Container -->
    <body>

	<div class="container">
	    <%- partial('_partial/menu') %>
	</div>

	<div class="container">

	    <%- body %>

	</div>


	<div class="container">
	    <%- partial('_partial/footer') %>
	</div>


    </body>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</html>
