<div class="section px-6">
    <div class="columns">
	<div class="column is-four-fifths">

	    <!-- Title -->
	    <h2 class="title is-3">
		<a href="<%- config.root %><%- item.path %>">
		    <%- item.title || item.link%>
		</a>
	    </h2>

	    <!-- Date and Author -->
	    <h2 class="tag has-addons subtitle">
		<span class="tag"><%= item.date.format(config.date_format) %></span>
		<% if(item.author) { %>
		    <span class="tag is-primary"><%- item.author %></span>
		<% } %>
	    </h2>

	    <!-- Content -->
	    <div class="content mb-5 mr-0 pt-3 px-5">
		<%- item.content %>
	    </div>

	</div>

	<div class="column">
	    <!-- TOC -->
	    <p class="mb-5 px-3">
		<% if(is_post()) { %>
		    <%- toc(page.content, {
			class: 'post-toc',
			list_number: false
		    }) %>
		<% } %>
	    </p>
	</div>

    </div>

    <!-- Tags and Categories links -->
    <%- partial('article-tags', {item: item}) %>
    <%- partial('article-categories', {item: item}) %>

</div>
