<nav class="pagination mb-5 is-rounded" role="navigation" aria-label="pagination">

    <!-- Frevious Page -->
    <% if (page.prev){ %>
	<a class="pagination-previous"
	   href="<%- config.root %><%- page.prev_link %>">
	    Previous
	</a>

    <% } else { %>

	<a class="pagination-previous"
	   href="<%- config.root %><%- page.prev_link %>">
	    Previous
	</a>

    <% } %>

    <!-- Next Page -->
    <% if (page.next){ %>

	<a class="pagination-next"
	   href="<%- config.root %><%- page.next_link %>">
	    Next
	</a>

    <% } else { %>

	<a class="pagination-next"
	   href="<%- config.root %><%- page.next_link %>">
	    Next
	</a>

    <% } %>

    </ul>
</nav>
