<div class="container">
    <% if (site.posts && site.posts.length > 1) { %>
	<!-- Pagination -->
	<nav aria-label="page navigation">
	    <% if (page.prev || page.next) { %>

		<ul class="page pagination justify-content-center">
		    <% if (page.prev){ %>
			<li class="page-item">
			    <a href="<%- config.root %><%- page.prev_link %>"
			       class="page-link px-4 link-dark">
				<%= __('上一页') %>
			    </a>
			</li>
		    <% } else { %>
			<span class=""><%= __('') %></span>
		    <% } %>


		    <% if (page.next){ %>
			<ul class="page-item">
			    <a href="<%- config.root %><%- page.next_link %>"
			       class="page-link px-4 link-dark"><%= __('下一页') %>
			    </a>
			</ul>
		    <% } else { %>
			<span class=""><%= __('') %></span>
		    <% } %>
		</ul>

	    <% } %>
	</nav>

    <% } %>
</div>
